{% load myTag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello {{action.0}}</h1>
    <h1>hello {{action.1}}</h1>
    <h1>hello {{d.name}}</h1>
    <h1>hello {{d.age}}</h1>
    <h1>hello {{d.hobby}}</h1>
    <h1>hello {{c.name}}</h1>
    <h1>hello {{c.sex}}</h1>
    <h1>hello 十年后年龄{{d.age|add:10}}</h1>
    {% verbatim %}
        <h1>hello {{d.hobby}}</h1>

    {% endverbatim %}
    <h1>{{e|default:'空列表'}}</h1>
    <h1>{{a|safe}}</h1>
{% for name in l %}
    <h1>{{forloop.counter}} : {{name}}</h1>
{% endfor %}
    <form action="{% url 'login' %}" method="post">
        <p>姓名 <input type="text" name="user"></p>
        <p>密码 <input type="text" name="pwd"></p>
        <p>提交 <input type="submit" ></p>
        {% csrf_token %}
    </form>
{{d.age|filter_multi:3}}
</body>
</html>